/* Dark Mode */
body.dark-mode {
    background-color: #181818;
    color: #ddd;
}

/* Card with Neon Glow Effect */
.card.dark-mode {
    position: relative;
    background-color: #222;
    color: #ddd;
    border-radius: 15px; /* Rounded corners for the card */
    z-index: 1;
    transition: transform 0.3s ease; /* Added transition for transform */
}

.card.dark-mode:hover {
    transform: scale(1.005); /* Enlarge the card on hover */
}

.card.dark-mode::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    border: 2px solid rgba(58, 207, 227, 0.75);
    box-shadow: 
        0 0 10px rgba(58, 207, 227, 0.75),
        0 0 20px rgba(58, 207, 227, 0.75);
    border-radius: 17px; /* Matching rounded corners for the glow */
    transition: all 0.3s ease-in-out; /* Transition for the glow */
}

.card.dark-mode:hover::before {
    box-shadow: 
        0 0 20px rgba(58, 207, 227, 0.8),
        0 0 40px rgba(58, 207, 227, 0.8);
    animation: flicker 2.5s infinite alternate;
}

/*Flicker Animation */
@keyframes flicker {
    0%   { opacity: 0.95; }
    20%  { opacity: 0.90; }
    40%  { opacity: 1; }
    60%  { opacity: 0.92; }
    75%  { opacity: 0.95; }
    80%  { opacity: 0.9; }
    82%  { opacity: 0.85; }
    85%  { opacity: 0.8; }
    89%  { opacity: 0.75; }
    100% { opacity: 0.87; }
}
/* @keyframes flicker {
    0%   { opacity: 0.95; }
    20%  { opacity: 0.90; }
    40%  { opacity: 1; }
    60%  { opacity: 0.9; }
    65%  { opacity: 0.88;}
    70%  { opacity: 0.9; }
    73%  { opacity: 0.82; }
    76%  { opacity: 0.75; }
    79%  { opacity: 0.60; }
    82%  { opacity: 0.69; }
    85%  { opacity: 0.75; }
    88%  { opacity: 0.87; }
    90%  { opacity: 0.90;}
    95%  { opacity: 0.95;}
    100% { opacity: 1;}
} */



#ToastError {
    background-color: rgba(255, 10, 10, 0.2)!important;
    border: 1px solid rgba(255, 20, 20, 0.5);
    box-shadow: 0 0 8px 1px rgba(255, 50, 50, 0.8), 0 3px 5px rgba(0, 0, 0, 0.1); /* Reduced glow here */
    backdrop-filter: blur(10px);
    border-radius: .25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#ToastError:hover {
    transform: scale(1.025);  /* Enlarge the toast a bit */
    box-shadow: 0 0 12px 2px rgba(255, 75, 75, 0.9), 0 4px 6px rgba(0, 0, 0, 0.1); /* Reduced glow here */
}

#ToastError .toast-body {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#ToastError .btn-close {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0.5rem;
}

#ToastError .btn-close {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 0.5rem;
}

.toast {
    display: flex;
    align-items: center; 
}

.toast-body {
    flex-grow: 1; 
    margin-right: 1rem; 
}
